<!doctype html>
<html>
<head>
  <title>Connect Four</title>
  <link rel="stylesheet" href="/css/grids.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
  <script src = "https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src = "/javascript/app.js"></script>
</head>
<body>
  {{{body}}}
</body>
